html, body{
 width:100vw;
}
section{
  overflow:hidden;
}
.flex{
  display: flex;
  height: 100vh;
}
.head-first-half{
  width: 50%;
  margin-left: 150px;
  border-left: 10px;
  border-color: cornflowerblue;
  padding-top: 100px;
}
h1{
  font-size: 50px;
}
.head-second-half{
  width: 50%;
  padding-top: 2%;
}
.picture-size{
  width: 80%;
}
.name-colour{
  color:rgb(82, 126, 192);
}
.button{
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(#936bf1, #7250cf);
  padding: 5px 20px;
  border-radius: 5px 5px ;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.resume {
  display: flex;
  margin-bottom: 100px;
}

.resume-first-half {
  width: 40%;
}

.resume-first-half img {
  width: 100%;
  margin: 0 5%;
  padding-left: 100px;
}

.resume-second-half {
  width: 40%;
  padding-top: 300px;
  padding-right: 5%;
  padding-left: 10%;
  margin: 0 5%;
  margin-top: 20px;
}
#left-border{
  border-left: 5px solid;
  border-radius: 5px;
  border-image: linear-gradient(rgb(30, 110, 185), rgb(112, 112, 209));
  border-image-slice: 1; 
}

.dreams{
  margin:  20px auto;
  width: 1250px;
  gap: 30px;
}

.dreams > div{
  border: 3px solid #d7d5ddc5;
  box-shadow: 10px 10px 30px gray;
  border-radius: 20px;
  width: 33%;
  box-shadow: black;
  align-items: center;
  height: 70vh;
}


#dreams1{
  float: left;
  padding: 10px 10px;
  background-image: linear-gradient(rgb(74, 212, 212),rgb(147, 177, 216));
}

#dreams2{
  padding: 10px 10px;
  float: center;
  background-image: linear-gradient(rgba(194, 130, 88, 0.616),rgba(175, 162, 104, 0.5));
}

#dreams3{
  float: right;
  padding: 10px 10px;
  background-image: linear-gradient(rgba(76, 185, 109, 0.418),rgba(169, 216, 108, 0.897));
}

.center-text{
  text-align: center;
}

#dreams1 > img{
  width: 200px;
}

#dreams2> img{
  width: 200px;
}

#dreams3 > img{
  width: 200px;
}

.optimism{
  width: 100%;
  display: flex;
  margin-bottom: 100px;
  background-image: url(../images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 400px;
}
.optimism-first-half{
  width: 40%;
}
.optimism-first-half img{
  width: 100%;
  margin: 0 5%;
  padding-left: 100px;
  margin-top: 100px;
}
.optimism-second-half{
  width: 40%;
  padding-top: 50px;
  padding-right: 5%;
  padding-left: 10%;
  margin: 0 5%;
}
.Another{
  display: flex;
  width: 100%;
  background-image: url(../images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 280px;
}
.Another > div{
  width: 50%;
}
.another1{
  margin-left: 100px;
  padding-top: 100px;
}
.another2 {
  width: 50%;
  padding: 2%;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 0 2%;
  background-image: linear-gradient(rgb(150, 150, 182),rgba(252, 252, 252, 0.979));
}
.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  gap: 20px;;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap-reverse;
}

.contact-details {
  font-size: 25px;
  text-shadow: 2px 2px 1px #1f1f1f;
}

#Footer{
  background-color: black;
  padding-bottom: 0%;
  height: 150px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}
